.about-courses {
  font-family: var(--main-font);

  .container {
    max-width: 700px;
    h1 {
      width: 100%;
      font-size: 26px;
      letter-spacing: 1px;
      background-color: var(--sec-color);
      margin: 40px 0 20px 0;
      padding: 10px;
    }
    h2 {
      font-weight: bold;
      line-height: 150%;
      margin: 15px 0 5px 0;
    }

    .el {

      font-weight: 300;
      line-height: 150%;
    }

  }
}