.brand-info {
  font-family: var(--main-font);
  line-height: 150%;
  font-weight: lighter;
  h1 {
    width: 100%;
    font-family: var(--main-font);
    font-size: 26px;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    background-color: var(--main-color);
    color: darkblue;
    margin: 10px 0;
    padding: 10px;
  }
  .img {
    height: 300px;
    width: 100vw;
    background-image: url("../images/background.jpeg");
    background-size: contain;
    margin: 20px 0;
  }
}
