.logo {
  font-family: var(--logo-font1);
  font-size: 44px;
  padding: 5px;
  text-transform: uppercase;
  text-decoration: none;
  color: blue;
  span {
    font-family: var(--logo-font2);
    font-size: 38px;
    color: darkblue;

  }
}