.logo {
  font-family: var(--logo-font1);
  font-size: 28px;
  text-transform: uppercase;
  text-decoration: none;
  color: blue;
  span {
    font-family: var(--logo-font2);
    font-size: 24px;
    color: darkblue;

  }
}